body { 
	background-image: url('images/moxie4.jpg');
	background-size: cover; 
	font-family:'Montserrat', serif;
	font-size: 48px;
}

p {
	color: #FFF;
	font-size: 37px;
	margin:0 0 0 70px;
}

h1 {
	font-family:'Miss Fajardose', cursive;
	font-size: 255px;
	color: #fff;
	margin:100px 0 0 45px;
}
span { color:#f60; }
