body { 
	margin: 0;
	padding:0;
	font-size: 25px;
	font-family:arial, sans-serif;
	background: url("images/background.jpg");
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #525a6a;
}
.wrapper {
	margin: 275px 0 0 50px;
}
hr {
	margin: 0 ;
	width: 40px;
	border:1px #FA8072 solid;
}
.headertop {
	background: url("images/stripes.png") repeat-x;
	height: 13px;
	width: 100%;
}
